<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog app</title>


    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>


<body>

    <header>
        <div class="row">
            <div>
                <section id="hero" class="">
                    <nav class="navbar navbar-expand-lg text-light ">
                        <div class="container-fluid ">
                            <a class="navbar-brand " href="# ">Navbar</a>
                            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
                             <span class="navbar-toggler-icon "></span>
                           </button>
                            <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                                <div class="navbar-nav my-5 mx-5">
                                    {% if current_user.is_authenticated %}

                                    <a class="nav-link " href="{{url_for( 'main.index')}} ">Home</a>
                                    <a class="nav-link " href="{{url_for( 'main.new_post')}} ">create post</a>

                                    <a class="nav-link " href="{{url_for( 'main.account')}} ">Account</a>

                                    <a class="nav-link " href="{{url_for( 'main.logout')}} ">Logout</a> {% else %}


                                    <a class="nav-link active " aria-current="page " href="{{url_for( 'main.index')}} ">Home</a>
                                    <a class="nav-link " href="{{url_for( 'main.login')}} ">Login</a>
                                    <a class="nav-link " href="{{url_for( 'main.register')}} ">Signup</a> {% endif %}

                                </div>
                            </div>
                        </div>
                    </nav>

                    <div class="row">
                        <div id="protest1" class="col">
                            <h2 class="mx-3">A new wave of <span style="color:#f5dd42">peaceful protests, </span><br> just started in the capital</h2>

                            <h6 class="mx-3 mt-4">2 weeks ago <span style="color:hsl(197, 42%, 44%)"> | world news</span></h6>
                        </div>

                    </div>



                </section>



            </div>



        </div>

    </header>


    </div>

    <div class="container mt-5">
        <div class="row">{% for post in posts %}
            <div class="col">
                <div id="cardi" class="cardi card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/4664301/pexels-photo-4664301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="..." height="300">

                    <div class="card-body">
                        <h3 class="title"><a href="{{url_for('main.post',post_id=post.id)}}">{{post.title}}</a></h3>
                        <h6>{{post.author.username}}</h6>
                        <p>{{post.date_posted}}</p>
                    </div>
                </div>


            </div>
            {% endfor %}
        </div>
    </div>






























    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js " integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js " integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2 " crossorigin="anonymous "></script>
</body>

</html>